<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="base_link"></link>
  <link name="base_sensor_link" />
  <link name="lidar_sensor_link"></link>
  <link name="imu_link"></link>
  <link name="gps_link"></link>

  <joint name="base_sensor_joint" type="fixed">
    <parent link="base_link" />
    <child link="base_sensor_link" />
    <origin xyz="0.0 0. 0.0" rpy="0 0 0" />
  </joint>

  <joint name="lidar_sensor_joint" type="fixed">
    <parent link="base_sensor_link" />
    <child link="lidar_sensor_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
  </joint>

  <joint name="imu_sensor_joint" type="fixed">
    <parent link="base_sensor_link" />
    <child link="imu_link" />
    <origin xyz="-0.0 -0.0 0.0" rpy="0 0 0" />
  </joint>

  <joint name="gps_joint" type="fixed">
    <parent link="base_sensor_link" />
    <child link="gps_link" />
    <origin xyz="-0.0 0.0 -0.0" rpy="0 0 0" />
  </joint>

</robot>